<launch>

  <!-- launch the distance sensors -->  
  <include file="$(find ras_lab1_launch)/launch/kobuki_lab1.launch" />

  <!-- My own nodes -->
  <node pkg="ras_lab1_motor_controller" type="motor_controller" name="motor_controller" />
  <node pkg="ras_lab1_cartesian_controllers" type="circle_controller" name="circle_controller" />


</launch>
